.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding: 0 60px;
    margin: auto;
    flex-basis: 100%;
    max-width: 1199px;
  }

  .form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    padding: 0 120px;
    margin: auto;
  }
}


.form__header__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__header__intro {
  font-size: 14px;
  line-height: 24px;
  color: @gray-darkest;
}

.form__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
