.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__caption {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  height: 389px;
}

.page-header__title {
  margin: 0;
}
