.review-impression {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid @gray;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .review-impression {
    flex-grow: 1;
    order: 1;
  }
}

.review-impression__list {
  text-align: center;
  list-style: none;
  padding: 0;
}

.review-impression__label {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
