.review-attraction {
  border: none;
  border-bottom: 1px solid @gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .review-attraction {
    flex-direction: column;
  }

  .review-attraction__list {
    display: grid;
    grid-gap: 62px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .review-attraction__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.review-attraction__list {
  list-style: none;
  padding: 0;
}

.review-attraction__label {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
