.review-attraction {
  border: none;
  border-bottom: 1px solid @gray;
}

.review-attraction__list {
  list-style: none;
}

.review-attraction__label {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
