.user-contact {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid @gray;
  padding: 0;
}

.user-contact__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .user-contact {
    order: 3;
    flex-basis: 100%;
  }
}

@media (min-width: @desktop-width) {
  .user-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .user-contact__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-contact__input {
    margin-left: 22px;
  }
}

.user-contact__label {
  font-size: 14px;
  line-height: 26px;
  color: @gray-darkest;
}

.user-contact__input {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: @black;
  background-color: @gray-lightest;
  padding: 18px 0 14px 22px;
  margin-bottom: 20px;
}

.user-contact__input::-moz-placeholder {
  color: @black;
}

.user-contact__input::-webkit-input-placeholder {
  color: @black;
}
