.user-contact {
  border: none;
  border-bottom: 1px solid @gray;
}

.user-contact__label {
  font-size: 14px;
  line-height: 26px;
  color: @gray-darken;
}

.user-contact__input {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: @black;
  background-color: @gray-lightest;
  padding: 18px 0 14px 22px;
  margin-bottom: 20px;
}

.user-contact__input::-moz-placeholder {
  color: @black;
}

.user-contact__input::-webkit-input-placeholder {
  color: @black;
}
